* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #000;
    color: #FFF;
    font-family: 'Unica One';
    padding: 1em;
}

header {
    margin-bottom: 3em;
}

h1 {
    color: #888;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
h1 a {
    text-decoration: none;
    color: #555;
}
a:hover {
    text-decoration: underline;
}

blockquote {
    text-align: center;
    font-family: 'Open Sans';
    color: #DDD;
}
small {
    color: #BBB;
}

#main {
    position: relative;
    height: 800px;
    width: 800px;
    margin: 2em auto;
}

.protractor, #arrow, #backarrow {
    height: 680px;
    width: 680px;
    border-radius: 50%;
    position: absolute;
    top: 60px;
    left: 60px;
}
.protractor {
    background-color: #222;
    background-image: url('../images/protractor.png');
    background-size: cover;
}
#arrow img, #backarrow img {
    position: absolute;
    top: -10px;
    left: 326px;
    width: 30px;
    height: auto;
    transform-origin: 0% 0%;
}

.window, .window-overlay {
    position: absolute;
    top: 100px;
    left: 100px;
    height: 600px;
    width: 600px;
    border-radius: 50%;
}

.window {
    overflow: hidden;
}
.window img {
    min-height: 600px;
    min-width: 600px;
}

.window-overlay {
    background-image: url('../images/wov.png');
    opacity: 0.2;
}
