body {
    background-color: #000;
    color: #FFF;
    font-family: 'Unica One';
}

header {
    margin-bottom: 3em;
}

h1 {
    color: #888;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
h1 a {
    text-decoration: none;
    color: #555;
}
a:hover {
    text-decoration: underline;
}

blockquote {
    text-align: center;
    font-family: 'Open Sans';
    color: #DDD;
    margin-bottom: 6em;
}
small {
    color: #BBB;
}

#main {
    position: relative;
    height: 400px;
    width: 400px;
    margin: 4em auto;
    padding: 0em;
}

.window {
    height: 400px;
    width: 400px;
    margin: 0 auto;
    border-radius: 200px;
    overflow: hidden;
}
.window img {
    max-height: 400px;
}

.window-overlay {
    background-image: url('../images/wov.png');
    opacity: 0.2;
    height: 400px;
    width: 400px;
    border-radius: 200px;
    position: absolute;
    top: 0;
}
